<div class="container">
  <h1>User List
    <a [routerLink]="['/user-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a></h1>
  <table class="table">
    <thead>
    <tr>
      <th>First Name :</th>
      <th>Last Name :</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
      <td><a [routerLink]="['/user-detail', user.id]">Show Detail</a></td>
    </tr>
    </tbody>
  </table>
</div>
